/* Common Elements */


.marTsm { margin-top: 5px;}
.marTmed { margin-top: 10px;}
.marTlg { margin-top: 15px; }
.marRsm { margin-right: 5px; }
.marRlg { margin-right: 15px; }
.marBsm { margin-bottom: 5px; }
.marBmed { margin-bottom: 10px; }
.marBlg { margin-bottom: 15px; }
.marLlg { margin-left: 15px; }

.padTsm { padding-top: 5px; }
.padTmed { padding-top: 10px; }
.padTlg { padding-top: 15px; }
.padRsm { padding-right: 5px; }
.padRlg { padding-right: 15px; }
.padBmed { padding-bottom: 10px; }
.padBsm { padding-bottom: 5px; }
.padLsm { padding-left: 5px; }
.padB1 { padding-bottom:1px; }

.alignR { text-align: right; }
.alignL { text-align: left; }
.alignC { text-align: center; }

.bodystyle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	}

.small { font-size: 10px; }

.bold { font-weight: bold; }

.highlight {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #333333;
	}

.nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
	}

.nav_sub {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 400;
}


.title_login {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #FFFFFF;
}

a.title:link {font-family: Arial, Helvetica, sans-serif; color: #CCFFFF; font-size: 12px; font-weight: bold;}
a.title:active {font-family: Arial, Helvetica, sans-serif; color: #CCFFFF; font-size: 12px; font-weight: bold;}
a.title:visited {font-family: Arial, Helvetica, sans-serif; color: #CCFFFF; font-size: 12px; font-weight: bold;}
a.title:hover {font-family: Arial, Helvetica, sans-serif; color: #CCFFFF; font-size: 12px; font-weight: bolder;}

.table_top {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 700;
	color:#333333;
}


.success {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #333333;
}

.error {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #FF0000;
}


.tableFavRemove {
	margin-right: 5px;
	margin-left: 10px;
	margin-top: 8px;
	margin-bottom: 5px;
	
}

.tableVideoStats {
	width: 100%;
	background-image: url(/web/20070502123600im_/http://www.youtube.com/img/table_results_selected_bg.gif);
	background-repeat: repeat-x;
	background-color: #FFFFCC;
	background-position: left top;
	border: 1px dashed #CCCC66;
	padding-top: 5px;
	padding-bottom: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.tableSubTitle {
	padding: 0px 0px 5px 0px;
	border-bottom: 1px dashed #CCC;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #CC6633;
}

.brownSubTitle {
	font-size: 13px;
	font-weight: bold;
	color: #CC6633;
}

.SubTitle {
	font-size: 14px;
	font-weight: bold;
	color: #CC6633;
}

.tableSubTitleInfo {
	font-size: 12px;
	padding: 3px;
	padding-left: 10px;
}




/* Modules */

.moduleEntrySelected {
	background-image: url(/web/20070502123600im_/http://www.youtube.com/img/table_results_selected_bg.gif);
	background-repeat: repeat-x;
	background-color: #FFFFCC;
	background-position: left top;
	border-bottom: 1px dashed #999999;
	padding: 10px 10px 0px 10px;
}

.moduleEntry {
	background-color: #DDD;
	background-image: url(/web/20070502123600im_/http://www.youtube.com/img/table_results_bg.gif);
	background-position: left top;
	background-repeat: repeat-x;
	border-bottom: 1px dashed #999999;
	padding: 10px;
}

.moduleEntryThumb {
	border: 5px solid #FFFFFF;
	margin-right: 10px;
}

.moduleEntryTitle {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 2px;
	color: #333333;
}

.moduleEntryDescription {
	font-size: 12px;
	margin-bottom: 6px;
	color: #333;
	padding-right: 10px;

}

.moduleEntryTags {
	font-size: 12px;
	margin-bottom: 5px;
	color: #444;
}

.moduleEntryDetails {
	font-size: 11px;
	margin-bottom: 5px;
	color: #444;
}
.moduleEntrySpecifics {
	font-size: 11px;
	margin-bottom: 1px;
	color: #444;
}

.moduleTitle {
	font-size: 14px;
	font-weight: bold;
	margin: 0px 0px 5px 5px;
	color: #444;
}

.moduleTitleBar {
	width: 100%;
	background-color: #CCC;
	border-bottom: 1px dashed #999;
}

.moduleFeatured {
	background-color: #DDD;
	background-image: url(/web/20070502123600im_/http://www.youtube.com/img/table_results_bg.gif);
	background-position: left top;
	background-repeat: repeat-x;
	border-bottom: 1px dashed #999999;
	padding: 5px 5px 15px 5px;
}
.moduleFeaturedThumb {
	border: 5px solid #FFFFFF;
	margin: 5px;
}

.moduleFeaturedTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 3px;
	color: #0033CC;
	
}

.moduleFeaturedDetails {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	margin-bottom: 3px;
}

.moduleFrameBarTitle {
	font-size: 12px;
	font-weight: bold;
	margin: 0px 5px 5px 5px;
	color: #444;
}

.moduleFrameEntrySelected {
	width: 270px;
	background-color: #FFFFCC;
	background-image: url(/web/20070502123600im_/http://www.youtube.com/img/table_results_selected_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	border-bottom: 1px dashed #999999;
	padding: 8px;
}

.moduleFrameEntry {
	width: 270px;
	background-color: #DDD;
	background-image: url(/web/20070502123600im_/http://www.youtube.com/img/table_results_bg.gif);
	background-position: left top;
	background-repeat: repeat-x;
	border-bottom: 1px dashed #999999;
	padding: 8px;
}

.moduleFrameTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 3px;
	color: #0033CC;
	
}

.moduleFrameDetails {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	margin-bottom: 5px;
	color: #666666;
	
}



/* Form Elements */

.formTitle {
	padding: 4px;
	padding-left: 7px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	background-color: #E5ECF9;
	border-bottom: 1px dashed #3366CC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.formTable {
	width: 80%;
	padding: 5px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.formIntro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	margin-bottom: 15px;
	padding-left: 10px;
}

.formFieldInfo {
	font-size: 11px;
	color: #000;
	margin: 3px 0px;
	}



/* Page Elements */

.pageTitle {
	padding: 4px;
	padding-left: 7px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	background-color: #E5ECF9;
	border-bottom: 1px dashed #3366CC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.pageTable {
	padding: 0px 5px 0px 5px;
	margin-bottom: 20px;
}

.pageText {
	padding: 0px 5px 0px 5px;
}

.pageIntro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 15px;
}



/* Mail Elements */

.mailMessageArea {
	background-color: #FFFFFF;
	border: 1px dashed #999999;
	padding: 7px;
	padding-bottom: 10px;
	margin-bottom: 15px;
}



/* Watch Elements */


.watchTitleBar {
	background-color: #CCCCCC;
	border-bottom: 1px dashed #999999;
}

.watchTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin-left: 5px;
	margin-bottom: 6px;
	color: #333333;
	
}

.watchTable {
	background-color: #DDDDDD;
	background-image: url(/web/20070502123600im_/http://www.youtube.com/img/table_results_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	border-bottom: 1px dashed #999999;
	padding: 5px;
	padding-bottom: 10px;
	text-align: center;
}


.watchInfoArea {
	width: 395px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	background-color:#FFFFFF;
}

.watchDescription {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 10px 0px 5px 0px;
	color: #000;
	border-top: 1px dotted #CCCCCC;
}

.watchTags {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 5px 0px 10px 0px;
	color: #333333;
}

.watchAdded {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-bottom: 10px;
	color: #333333;
}

.watchDetails {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
}

.commentsTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	background-color: #EEEEEE;
	padding: 5px;
	padding-bottom: 6px;
	border-top: 1px dashed #999999;
	border-bottom: 1px dashed #999999;

}

.groupCommentsTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	background-color: #EEEEEE;
	padding: 5px;
	padding-bottom: 6px;
}


.BoxedBorderTable {
	padding-left: 10px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}
.vertLeftDashTable {
	border-left: 1px dashed #CCCCCC;
	background-image: url(/web/20070502123600im_/http://www.youtube.com/img/long_grad_bg.jpg);
	background-repeat: repeat-x;
	background-repeat: repeat-y;
}
.commentsEntry {
	font-size: 11px;
	background-color: #FFFFCC;
	padding: 10px;
	border-bottom: 1px dashed #999999;
}

.commentsThumb {
	border: 5px solid #FFFFFF;
	margin-right: 5px;
}

.profileLabel {
	font-size: 12px;
	font-weight: bold;
	color:#DD8833;
	margin: 10px 0px 2px 0px;
}


/* QuickList add icon */

#QLIcon {
	position: absolute;
	z-index: 2;
	width: 25px;
	top: 66px;
	left: 1px;
}	

#QLIconRelated {
        position: absolute;
        z-index: 2;
	width: 25px;
        top: 46px;
        left: 1px;
}

#QLContainer {
	position: relative;
}

/* Code Elements */
.standoutLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}	
.brightLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}	

.SubscriptionTables {
	border: none;
}

.SubscriptionTables td {
	padding-top: 10px; 
	padding-bottom: 10px;
	padding-left: 1px;
	padding-right: 1px; 
	text-align:center; 
	border-bottom: 1px dashed #666666;
	color: #666666;
}

.SubscriptionVideos {
	background-color:#FFFFFF; 
	text-align: center;
}

.SubscriptionVideos td {
	border-bottom: none;
}

.parentSection {
	background: #FFFFCC;	
}

.parentSection td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 5px;
	margin-top: 1px;	
}

.childrenSection {
	background: #FFFFFF;
	border-bottom: 1px dashed #CCCCCC;		
}

.childrenSection td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 5px;
	margin-top: 1px;
}

.parentSection td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 5px;
	margin-top: 1px;	
	border-bottom: 1px dashed #CCCCCC;		
}
.commentButtons td {
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom: 0px
}

.commentsSpecifics {
	text-align: center;
}
.commentSpamBug {
	left: 20px;
	text-align: right;
	color: #c00;
	border: 1px #f33 dotted;
	margin-left: 10px;
	padding: 1px 3px;
}

.userStats {
	padding-top: 5px;
}

.devIndent {
	margin-left: 15px; 
	margin-right: 15px; 
	padding-top: 15px; 
	padding-bottom: 15px;
}

.apiShadedBox {
	background-color: #E5ECF9; 
	padding-left: 5px; 
	padding-right: 5px; 
	padding-top: 5px; 
	padding-bottom: 5px;
}

.apiDef {
	margin-left: 25px;
}

.apiHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #AA0000;
}



/* msolo remix */
.roundedTable {
margin: 0px auto 1em auto;
}

.sunkenTitle {
	font-size: 14px;
	font-weight: bold;
	margin: 0px 0px 5px 5px;
}

.sunkenTitleBar {
	width: 100%;
	border-bottom: 1px dashed #999;
}


.videobarthumbnail_block
{
	float: left;
	width: 120px;
	padding: 1px;
}
img.videobarthumbnail_gray
{
	border: 3px solid #FFFFFF;
}
img.videobarthumbnail_white
{
	border: 3px solid #DDD;
}

.videotitlebarHeading
{
	float: left; 
	font-size: 13px;
	color: #6D6D6D;
	padding-left: 10px;
	padding-right: 10px;
}
.videotitlebarComment
{
	float: left; 
	font-size: 10px;
	color: #999999;
}
.videotitleBarLinkBlock {
	width: 173px;
	float: right;
}
.videotitlebarLink
{
	text-align: right; 
	width: 150px;
}

.tag_list {
	margin: 1em 0px 0.5em 0px;
	font-weight: bold;
	color: #333;
}

.tag_list p {
	margin: 0px 0px 0.5em 0px;
	padding-left: 0.5em;
	font-weight: normal;
	color: #999;
}

.moduleEntry input {
	margin: 1em 0px 0px 0px;
}


/*  Groups and Colleges  */
#groupHeaderBox {
	border-bottom: 1px dashed #999; 
	padding-bottom: 10px; 
	margin-bottom: 10px;
	clear: both;
	}

#groupMainContentWithLeftNav { 
	width: 710px;
	margin-left: 165px;
	height: 100%;
	}


/*  New classes/IDs for Ches' visual redesign  */
#baseContainer {
	padding-top: 5px;
	padding-left: 25px;
	padding-right: 25px;
	}
	
#groupMainContent { 
	width: 685px; 
	height: 100%;
	}

.leadParaIndent {
	font-size: 13px;
	padding-left: 75px;
	padding-right: 75px;
	}
	
.fieldText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	}

#seeMore {
	text-align: right;
	font-size: 11px;
	font-weight: bold;
}
#seeMore a {
	color: #03c;
}

.profileEmbedVideo {
	text-align:center;
	margin-bottom:10px;
}

.profileEmbedVideoInfo {
	margin-left:3px;
	text-align:left;
	width:424px;
	margin-top:10px;
}

.profileLeftCol {
	width: 300px;
}

.profileRightCol {
        width: 560px;
}

.memberContainer {
	width:158px;
	background-color: #F3F3F3;
	padding:6px;
	margin-bottom: 15px;
}

.memberBoxTop { height: 50px; }
.memberBoxProfileContainer { overflow: hidden; width: 45px; height: 45px; float: left; }
.memberBoxProfileContainer img { height: 45px; margin-left: -7px; }
.memberBoxInfoContainer { margin-left: 50px; font-size: 10px; }

.memberStat { width:108px; }

.channelThumbContainer {
	float:left;
	padding:3px;
	height:60px;
	width: 134px;
	margin-bottom: 15px;
}


.channelThumbUserSide {
	float:left;
	text-align:left;
	width:138px;
}

.channelThumbData {
	float:left;
	padding-left:3px; 
}

div.cyc-top-menu {
	margin-top: 42px;
	margin-bottom: 12px;
	padding: 7px 3px;
	width: 875px; 
	text-align: right;
	background-color: #dee6f7;
	border-bottom: 1px solid #829fd9;
	border-top: 1px solid #829fd9;
}
div.cyc-top-menu span.tabContent { 
	font-size: 12px;
	padding: 0px 1px;
}

.sharingDiv {
	z-index: 6;
	left: 558px;
	position: absolute;
	width:260px;
	border:1px #CCC solid;
	background-color:#f7f7f7;
	text-align:left;
	padding:5px;
}

.sharingDivProfile {
        z-index: 6;
        left: 600px;
	top: 25px;
	font-size:12px;
        position: absolute;
	font-family: Arial, Helvetica, sans-serif;
        width:260px;
        border:1px #CCC solid;
        background-color:#f7f7f7;
        text-align:left;
        padding:5px;
}

.profileTopContainer {
	width:875px;
	position: relative;
}

/*
     FILE ARCHIVED ON 12:36:00 May 02, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:24:04 Oct 22, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 239.241
  exclusion.robots: 0.083
  exclusion.robots.policy: 0.076
  RedisCDXSource: 6.111
  esindex: 0.009
  LoadShardBlock: 190.22 (3)
  PetaboxLoader3.datanode: 193.916 (4)
  CDXLines.iter: 15.854 (3)
  load_resource: 70.943
  PetaboxLoader3.resolve: 60.525
*/